<div>
  <div>
    <div style='display: flex; justify-content: right; margin-right:10%'>
      <label>
        <!-- <mat-checkbox class="example-margin" [(ngModel)]="isChecked">Auto Execution</mat-checkbox> -->
      </label>
    </div>
  </div>
  <!-- Loading -->
  <div *ngIf="loading" style="color:white; text-align:center">
    Loading incidents...
  </div>
  <div style="display: flex; justify-content: center;max-height: 80%;" *ngIf="!loading && flag">
    <div style=" width: 80%; height: 100%; margin-top: 5%;">

      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 demo-table">
        <!-- Position Column -->
        <ng-container matColumnDef="SrNo">
          <th class="textcenter" mat-header-cell *matHeaderCellDef>S.No.</th>
          <td class="textcenter" mat-cell *matCellDef="let element; let i = index">{{ i + 1 }}</td>
        </ng-container>

        <!-- Name Column -->
        <!-- <ng-container matColumnDef="RCA_TimeStamp">
          <th class="textcenter" mat-header-cell *matHeaderCellDef>Timestamp</th>
          <td class="textcenter" mat-cell *matCellDef="let element">{{element["RCA_TimeStamp"]}}</td>
        </ng-container> -->

        <!-- Weight Column -->
        <ng-container matColumnDef="Number">
          <th class="textcenter" mat-header-cell *matHeaderCellDef>Incident</th>
          <td class="textcenter" mat-cell *matCellDef="let element" (click)="openDialog(element.Number)">
            {{element["Number"]}}</td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="Short description">
          <th class="textcenter" mat-header-cell *matHeaderCellDef>Description</th>
          <td class="textcenter" mat-cell *matCellDef="let element">{{element["Short description"]}}</td>
        </ng-container>
        <!-- Symbol Column -->
        <ng-container matColumnDef="RCA_Group">
          <th class="textcenter" mat-header-cell *matHeaderCellDef>Category</th>
          <td class="textcenter" mat-cell *matCellDef="let element">{{element["RCA_Group"]}}</td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
  </div>
  <div *ngIf="!loading && !flag" style="display: flex; justify-content: center;">
    <p style="color: white;">No Inciednt Found</p>
  </div>
</div>
