.under-development-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50vh; /* Adjust height as needed */
    font-family: Arial, sans-serif;
  }
  
  .under-development-container h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    color: white;
}

.under-development-container p {
    color: white;
    font-size: 1.2rem;
    text-align: center;
    margin-bottom: 0.5rem;
  }
  
.incidentDetails {

}

.container {
    display: flex;
  }
  
  .item-1 {
    flex: 1 1 20%; /* Grow, Shrink, Basis */
    padding: 10px;
    box-sizing: border-box;
    font-family: Roboto;
    font-size: 14px;
    color: white;
}

.item-2 {
    flex: 1 1 80%; /* Grow, Shrink, Basis */
    padding: 10px;
    box-sizing: border-box;
    font-family: Roboto;
    font-size: 14px;
    color: white;
  }
  